.text-blue{
    color: #2A91FF;
}
.bg-dark-gray{
    background-color: #1C1D21;
}
.items-header{
    font-weight: 500;
    color: white !important;
    font-size: 17px;
}
.badge-header{
    padding-left: 0.4em; 
    padding-right: 0.4em; 
    vertical-align: top; 
    font-size: 10px;
    position:relative; 
    left: -10px;
}
.dropdown-notifications{
    top: 40px;
    right: 0px;
    left: unset;
    width: 460px;
    box-shadow: 0px 5px 7px -1px #c1c1c1;
    padding-bottom: 0px;
    padding: 0px;
}
.dropdown-notifications:before{
    content: "";
    position: absolute;
    top: -20px;
    right: 12px;
    border:10px solid #1C1D21;
    border-color: transparent transparent #1C1D21 transparent;
}
.head{
    padding:5px 15px;
    border-radius: 3px 3px 0px 0px;
    background-color: #1C1D21;
}
.footer{
    padding:5px 15px;
    border-radius: 0px 0px 3px 3px; 
    background-color: #1C1D21;
    position: fixed;
}

.section-paises{
    background:#2A91FF;
}

.notification-box{
    padding: 10px 0px; 
}
.bg-gray{
    background-color: #eee;
}

.img-logo-footer{
    width: 35px;
    height: 35px;
}
.section-landing{
    padding: 20px 40px; 
    background-color: #1C1D21;
    color: white;
    font-size: 24px;
    font-weight: bold;
}
.section-title-landing{
    font-weight: bold;
    color: #2A91FF;
    font-size: 30px;
}
.list-group-item:hover{
    text-decoration: none;
    background-color: #1D94FF;
}
.courses-slider{
    z-index: 0;
    padding-right: 0 !important; 
    padding-left: 0 !important; 
    padding-bottom: 30px;
}
.carousel-caption{
    width: 30%;
    left: 10% !important;
    right: 0 !important;
    top: 5% !important;
    bottom: 0 !important;
    text-align: left;
}
.course-label{
    color: #2A91FF;
    font-weight: bold; 
    padding-bottom: 30px; 
    font-size: 24px;
}
.course-autor{
    color: #727272; 
    font-weight: bold; 
    font-size: 35px;
}
.course-title{
    color: #FFFFFF; 
    font-weight: bold; 
    font-size: 60px; 
    line-height: 60px; 
    padding: 20px 0;
}
.course-category{
    color: #727272; 
    font-weight: bold; 
    font-size: 22px;
}
.btn-outline-success:hover {
    color: #fff !important;
    background-color: #6AB742;;
    border-color: #6AB742;
}
.btn-register-header{
    border-radius: 25px !important; 
    font-weight: bold; 
    width: 180px;
}
.btn-language{
    border-radius: 25px !important; 
    font-weight: bold; 
    width: 120px;
}
.new-courses-section{
    background: linear-gradient(to bottom, #222326 50%, #1C1D21 50.1%);
}
.new-courses-section-title{
    padding-bottom: 35px;
}
.btn-arrow-previous{
    border-radius: 0px;
}
.btn-arrow-next{
    border-radius: 0px; 
    border-color: #6AB742; 
    color: #6AB742;
}
.new-course-img{
    filter: brightness(80%);
    height: 450px;
}
.new-course-title{
    font-size: 20px; 
    font-weight: bold;
}
.new-course-category{
    font-size: 16px; 
    font-weight: bold;
}
.no-padding-sides{
    padding-right: 0 !important; 
    padding-left: 0 !important;
}
.new-course-items-text{
    font-size: 10px;
}
.next-streaming{
    width: 100%; 
    position: relative; 
    display: inline-block;
}
.next-streaming-img{
    height: 500px; 
    width:100%; 
    opacity: 0.5;
}
.next-streaming-info{
    position: absolute; 
    top: 2%; 
    left: 5%;
    color: white; 
    font-size: 70px; 
    font-weight: bold;
}
.btn-next-streaming{
    font-weight: bold; 
    width: 180px;
}
.next-streaming-title{
    width: 60%; 
    line-height: 70px;
}
.next-streaming-date{
    font-size: 25px; 
    font-weight: 500;
}
.next-streaming-reserve{
    font-size: 35px; 
    padding-top: 60px;
}
.referrers-box{
    text-align: center; 
    font-size: 38px; 
    color: white; 
    font-weight: bold; 
    border: solid #919191 1px; 
    background-color: #222326; 
    margin-bottom: 10px; 
    height: 330px; 
    padding: 120px 15px;
}
.referrers-icon{
    color: #2A91FF;
}
.referrers-button{
    text-align: center; 
    font-size: 30px; 
    color: white; 
    font-weight: bold; 
    background-color: #6AB742; 
    padding: 20px 10px;
}
.referrers-banner{
    background:url('https://shapinetwork.com/mioficina/images/banner_referidos.png');
}
.referrers-banner-text{
    font-size: 40px; 
    width: 50%; 
    padding: 80px 40px 80px 60px; 
    color: white; 
    line-height: 55px;
}
.li-language{
    padding-left: 10px; 
    padding-right: 10px;
}
.li-register-button{
    padding-left: 20px;
}
@media (max-width: 1350px) {
    .items-header{
        font-size: 14px;
    }
    .header-list{
        padding: 5px;
    }
    .btn-register-header{
        border-radius: 25px !important; 
        font-weight: bold; 
        width: 140px;
    }
    .li-language{
        padding-left: 5px; 
        padding-right: 5px;
    }
    .btn-language{
        width: 100px;
        font-size: 12px;
    }
    .referrers-banner-text{
        font-size: 40px; 
        padding: 80px 40px 20px 60px; 
        line-height: 40px;
    }
}
@media (min-width: 981px) and (max-width: 1250px) {
    .items-header{
        font-size: 12px;
    }
    .li-language{
        padding-left: 0; 
        padding-right: 0;
    }
    .btn-language{
        width: 70px;
        font-size: 10px;
    }
    .btn-register-header{
        font-size: 12px;
        width: 120px;
    }
    .course-label{
        padding-bottom: 15px; 
    }
    .course-autor{
        font-size: 30px;
    }
    .course-title{ 
        font-size: 45px; 
        line-height: 45px; 
        padding: 15px 0;
    }
    .course-category{
        font-size: 20px;
    }
    .next-streaming-title{
        width: 50%; 
        font-size: 60px;
        line-height: 60px;
    }
    .next-streaming-reserve{
        padding-top: 50px;
    }
}
@media (max-width: 1100px) {
    .referrers-box{
        font-size: 34px;  
        padding: 100px 15px;
    }
}
@media (min-width: 451px) and (max-width: 980px) {
    .referrers-box{
        font-size: 34px;  
        padding: 100px 15px;
    }
    #navbarItems{
        background-color: #1C1D21 !important;
        padding: 15px 30px 15px 30px;
    }
    .li-register-button{
        padding-left: 0 !important;
    }
    #li-notifications-larger{
        display: none;
    }
    #li-notifications-small{
        display: block !important;
    }
    #li-language-larger{
        display: none;
    }
    #li-language-small{
        display: block !important;
    }
    #li-search-larger{
        display: none;
    }
    #li-search-small{
        display: block !important;
    }
    #li-home-larger{
        display: none;
    }
    #li-messages-larger{
        display: none;
    }
    #li-messages-small{
        display: block !important;
    }
    #li-user-larger{
        display: none;
    }
    #li-user-small{
        display: block !important;
    }
    .li-language{
        padding-left: 0; 
        padding-right: 0;
    }
    .carousel-caption{
        width: 50%;
    }
    .course-label{
        padding-bottom: 10px; 
        font-size: 20px;
    }
    .course-autor{
        font-size: 25px;
    }
    .course-title{ 
        font-size: 30px; 
        line-height: 30px; 
        padding: 10px 0;
    }
    .course-category{
        font-size: 17px;
    }
    .next-streaming-title{ 
        font-size: 50px;
        line-height: 50px;
    }
    .next-streaming-reserve{
        padding-top: 20px;
    }

    .course-banner-caption{
        top: 40%;
    }


    .vertical-menu p
    {
        font-size: 2vh;
    }
}
@media (max-width: 450px) {
    .course-category-caption a{
    font-size: 12px;
    }
    .carousel-caption{
        width: 50%;
    }
    .course-label{
        padding-bottom: 5px; 
        font-size: 16px;
    }
    .course-autor{
        font-size: 20px;
    }
    .course-title{ 
        font-size: 25px; 
        line-height: 25px; 
        padding: 10px 0;
    }
    .course-category{
        font-size: 14px;
    }
    .next-streaming-title{
        width: 50%; 
        font-size: 30px;
        line-height: 30px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .vertical-menu h6 {
    font-size: 2vh;
    }

}

@media  (min-width: 576px) and (max-width: 768px) {
    .course-category-caption a{
font-size: 12px;
bottom: 0px;
}
    
}

@media  (min-width: 1024px) {
    .course-category-caption a{
font-size: 16px;
}

.mentor-index-seccion{
        display: grid !important;
}

}

@media (max-width: 768px) {
    .mentor-index-seccion{
        display: block !important;
}
    }
    
}

.title-page-course{
    color: #FFFF;
    font-weight: bold; 
    padding-bottom: 30px; 
    font-size: 24px;
    margin-top:30px;
}
.banner-course{
    padding-right: 0 !important; 
    padding-left: 0 !important; 
    padding-bottom: 30px;
}
.course-banner-img{
    background: transparent linear-gradient(178deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
    opacity: 0.74;
}

.course-banner-caption{
    position: absolute;
    top: 70%;
}
.bar-progress-banner{
    position: absolute;
    top: 80%;
}
.title-course{
    color: #FFFF;
    font-weight: bold; 
    font-size: 24px;
}

.course-category-caption{
position: absolute;
bottom: 1em;

}


.description-course{
    color: #DEDADA;
    opacity: 1;
}

.play-course-button{
    border: 1px;
    border-radius: 10px;
}

.section-title-courses{
    font-weight: bold;
    color: #2A91FF;
}

.card-deck .card {
    background-color: #212529;
   border-bottom-color: #707070;
   color: #868686;
}

.show-more-courses{
    height: 100%;
}
.card-deck .card {
    background-color: #212529;
   border-bottom-color: #707070;
   color: #868686;
}
.section-mentors
{
   padding: 20px 40px; 
    background-color: #222326;
    color: white;
    font-size: 24px;
    font-weight: bold;
}
.mentors-card
{
    background-color: #292929;
}
.mentors-card .card-title{
font-size: 16px;
}
.mentors-card .card-text{
font-size: 12px;
color: #CCC6C6;
}

.mentor_img
{
    width: 100%;
    height: 226px;
}

.text-course-mentor{
font-size: 12px;
color: #CCC6C6;
}

.mentor-index-seccion{
   grid-template-columns: auto auto auto;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

.text-course-category{
font-size: 2vw;
}

.course-category1
{
background: transparent linear-gradient(180deg, #00000083 0%, #000000 100%) 0% 0% no-repeat padding-box;
opacity: 0.75;
height: 100%; 
-webkit-box-shadow: none; 
box-shadow: none; 
border: 0px; 
border-radius: 0px; 
}

.section-title-category{
    font-weight: bold;
    color: #FFFF;
}

/*Carousel*/
.carousel-image{
background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
opacity: 8;
max-height: 320px
}
.bg-carousel{

}
.card-carousel-text{
position: absolute;
bottom: 0;      
}

.subtitle-cat
{
    color: #8E8E8E;
}

.btn-next
{
    border-radius: 0px;
    border-color: #2A91FF;
    color: #2A91FF;
}

.btn-prev{

    border-radius: 0px;
}


.button-container{
display:inline-block;
position:relative;
}

.button-container button{
position: absolute;
bottom:4em;
right:4em;
text-transform:uppercase;
}

.progress-course-bar{
    position: relative;
    height: .5rem;
}

.title-page-one_course{
    color: #8E8E8E;
    font-weight: bold; 
    padding-bottom: 30px; 
    font-size: 26px;
    margin-top:30px;
}

.about-course-text{
    color: #838181;
}

.circle {
  height: 90px;
  width: 90px;
  background-color: #8E8E8E;
  display: block;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
}

.cuadrado {
  height: 50px;
  width: 50px;
  background-color: #2A91FF;
  display: block;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.accordion-seccion-leccion{
border-top: 1px solid #707070;
border-right: 1px solid #707070;
border-bottom: 1px solid #707070;
border-left: 1px solid #707070;
}

.course_video{
    max-width: 1150px;
}

.leccion-icon
{
    max-width: 30px;
    min-width: 30px;
}

/*.title-level {
  max-height: 84px;
  max-width: 100%;
  background-color: #363840;
  display: block;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}*/
.title-level{
    padding: 10px 10px;
    background-color: #363840;
    color:#fff; text-align: center;
}
.btn.btn-social-icon {
     width: 30px;
     height: 30px;
     padding: 0;
 }

 .icon-social-media>.btn {
     margin-right: 0.5rem !important
 }

 .icon-social-media {
     margin-top: 0.5rem !important

 }

 .btn.btn-rounded {
     border-radius: 30px;
 }

  .btn-facebook {
     background: #2A91FF;
     color: #1C1D21;
     text-align: center;
 }

 .btn-facebook-gris {
     color: #1C1D21;
     background: #404040 0% 0% no-repeat padding-box;
    opacity: 1;
 }

 .btn-twitter {
     background: #2A91FF;
     color: #1C1D21;
 }
 .btn-twitter-gris {
     background: #404040 0% 0% no-repeat padding-box;
     opacity: 1;
     color: #1C1D21;
 }


 .btn-instagram {
     background: #2A91FF;
     color: #1C1D21;
 }
 .btn-instagram-gris {
     background: #404040 0% 0% no-repeat padding-box;
     opacity: 1;
     color: #1C1D21;
 }

 /*TABS*/
 nav > .nav.nav-tabs{

  border: none;
    color:#fff;
    border-radius:0;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
  border: none;
    padding: 5px 25px;
    color:#fff;
    background:#363840;
    border-radius:0;
    background:#363840;
}

/*nav > div a.nav-item.nav-link.active:after
 {
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #6AB742;
}*/
.tab-content{
  /*background: #1C1D21;*/
    /*padding:30px 25px;*/
    color: #fff;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border: none;
    background: #6AB742;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}

.perfil-comments{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  background-color: #8E8E8E;
  vertical-align: middle;
}

.box-comments .form-inline .form-control{
    height: 80px;
    width:  580px;
    background: #363840;
     border: none;
    line-height: 1;
}


.btn-cont-course{
height: 124px;
}

.accordion-leccion-content{
border: 1px solid #363840;
opacity: 1;
}

.accordion-leccion-content h5{
color: #2A91FF;
}
.accordion-leccion-content h6{
color: #8E8E8E;
}

.body-accordion {
background: #363840 0% 0% no-repeat padding-box;
opacity: 1;
border-top: 1px solid #707070;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-bottom: 1px solid #707070;
}

#accordion-leccion:after {
  font-family: 'FontAwesome';
  content: "\f13a";
  color: #2A91FF;
}

.collapsible-link::before {
   font-family: 'FontAwesome';
  content: "\f13a";
  color: #2A91FF;
  position: absolute;
  right: 1rem;
  display: block;
  transition: all 0.3s;
}

.collapsible-link[aria-expanded='true']::before {
  transform: rotate(180deg);
}

.accordion-leccion-content .collapsed{
   color: #8E8E8E;
}
/*Card Contenido del Curso*/
#card1 .collapsed {
  background-color: #1C1D21 !important;
  color: #8E8E8E;
}

#card1{
background: #363840 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 1;
color: #2A91FF;
}

#card2 .collapsed {
  background-color: #1C1D21 !important;
  color: #8E8E8E;
}

#card2{
background: #363840 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 1;
}

#card3 .collapsed {
  background-color: #1C1D21 !important;
  color: #8E8E8E;
}

#card3{
background: #363840 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 1;
}

#card4 .collapsed {
  background-color: #1C1D21 !important;
  color: #8E8E8E;
}

#card4{
background: #363840 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 1;
}

#card5 .collapsed {
  background-color: #1C1D21 !important;
  color: #8E8E8E;
}

#card5{
background: #363840 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 1;
}

#card6 .collapsed {
  background-color: #1C1D21 !important;
  color: #8E8E8E;
}

#card6{
background: #363840 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 1;
}

#card7 .collapsed {
  background-color: #1C1D21 !important;
  color: #8E8E8E;
}

#card7{
background: #363840 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 1;
}
.btn-prev {
position: absolute;
left:5em;
background: #363840 0% 0% no-repeat padding-box;
opacity: 0.66;
color:white;
padding:0.5em 1em;
top: 50%;
}

.btn-next {
position: absolute;
right: 5em;
background: #363840 0% 0% no-repeat padding-box;
opacity: 0.66;
color:white;
padding:0.5em 1em;
top: 50%;
}

.prev-icon{
position: absolute;
left:2em;
background: #363840 0% 0% no-repeat padding-box;
opacity: 0.66;
color:white;
padding:0.5em 1em;
top: 50%;
font-size: 1em;
}

.btn-play-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
}

.card-anotaciones{
    background: #545762;
    max-width: 100%;
    border-radius: 0rem;
}

.card-anotaciones textarea{
    background-color: transparent;
border-color: transparent;
outline: 0;
box-shadow: none;
color: #CECECE;
}

#title::placeholder{
    color: #CECECE;
}

.notes-form-title input
{
background-color: transparent;
border-color: transparent;
outline: 0;
box-shadow: none;
color: #CECECE;
}

.notes-form-title .form-control:focus{
    background-color: transparent;
    color: #CECECE;
    border-color: transparent;
    outline: 0;
    box-shadow: none;
}

.notes-form-content textarea
{
    background-color: transparent;
    border-color: transparent;
    outline: 0;
    box-shadow: none;
    color: #CECECE;
}

.notes-form-content .form-control:focus{
    background-color: transparent;
   color: #CECECE;
    border-color: transparent;
    outline: 0;
    box-shadow: none;
}


.title-note{
color: #8E8E8E;
margin-top: 50px;
border-bottom: 1px solid #707070;
}

.accordionNotes .card
{
    border-radius: 0rem;
    border: none;
    background: #545762; 
    color: #fff;
}
.accordionNotes .card-header{
    border-radius: 0rem;
    border: none;
    padding: .175rem 1.25rem;
}


/*Nav vertical*/
.vertical-menu {
  padding-left: 15px;
  padding-right: 0px;
}

.vertical-menu a {
  background: #383941 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #838181;
  display: block;
  text-decoration: none;

}

.vertical-menu h6{
    font-size: 12px;
}

.vertical-menu nav > div a.nav-item.nav-link:hover,
.vertical-menu nav > div a.nav-item.nav-link:focus
{
  border: none;
    background:#1C1D21;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}


 .logo-username-green{
    background-color: #6AB742;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
      }

      .logo-username-blue{
    background-color: #2A91FF;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
      }

      .nombre-jd{
       color:#2A91FF; 
       font-weight: bold;
      }

     
      .nombre-anfitrion{
        color:#6AB742; 
        font-weight: bold;
      }

      .mensaje{
        background-color: #545762; 
        color: #CECECE; 
        border-radius: 10px;
        width: 100%;
      }

      .contenido-anfitrion{
        background-color: #545762; 
        color: #CECECE; 
        border-radius: 10px;
        width: 100%;
      }
    .logo-user{
        flex-basis: 0;
        flex-grow: 0;
    }



    /*TIME/TIMELIVE*/
    .counter-caption{
        display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    }

/* ESTILOS PARA LIVE.BLADE.PHP */

.contentQuestion{
    display: flex;
}
